<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
</head>

<body>
    <button class="logout-btn">Log Out</button>
    <div class="dashboard-container">
        <div class="database-panel">
            <input class="search-bar" type="text" placeholder="Search database...">
            <button class="search-btn">🔍</button>
            <ul class="database-list">
                <li class="sql" id="mysql-database">MySQL Database</li>
                <li class="nosql">Firebase Realtime Database</li>
                <li class="nosql" id="MongoDB-database">MongoDB Database</li>
            </ul>
        </div>
        <div class="detail-panel">
            <div class="database-details">
                <h3>Database Details</h3>
                <p>No Valid Database Selected!</p>
            </div>
        </div>

        <div class="database-data">
            <p>No Data</p>
        </div>
    </div>

    <script src="../static/js/dashboard.js"></script>
</body>

</html>